<div class="flex items-center justify-between">
  <h2>All Contacts</h2>
  <a href="/contacts/create" class="py-2.5 px-4 bg-gray-800 text-white font-serif uppercase">New Contact</a>
</div>


<div class="mt-8">
  <div class="shadow-md rounded-sm overflow-hidden">
  <table>
    <thead class="uppercase text-sm font-medium text-gray-500">
      <tr>
        <td class="py-2 px-4">Name</td>
        <td class="py-2 px-4">Phone</td>
        <td class="py-2 px-4">Email</td>
        <td class="py-2 px-4">Address</td>
      </tr>
    </thead>

    <tbody class="text-gray-600">
      <tr>
        <td class="py-2 px-4">
          Omar Jasseh
        </td>
        <td class="py-2 px-4">
          3100948
        </td>
        <td class="py-2 px-4">
          omar@jassehcodecamp.com
        </td>
        <td class="py-2 px-4">
          Bakoteh, Sanchaba
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>