<div>
  <form action="/login" method="POST">
  <div class="space-y-5">
    <div>
      <label for="email" class="block mb-px">Email Address</label>
      <input type="text" name="username" id="email" placeholder="example.com">
    </div>
    <div>
      <label for="password" class="block mb-px">Password</label>
      <input type="password" name="password" id="password">
    </div>
  </div>

    <div class="mt-4">
       {{> button type="submit" text="Sign In"}}
    </div>
  </form>
</div>