<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body class="min-h-screen flex bg-gray-50">
    {{#if user}}
    <aside class="w-64 bg-gray-900 text-center py-6 px-8 text-gray-100">
      <h1 class="uppercase text-base text-gray-100">
        <a href="/">Phonebook App</a></h1>


        <nav class="mt-8">
          <ul>
            <li>
              <a href="/contacts">All Contacts</a>
            </li>
          </ul>
        </nav>
    </aside>
    {{/if}}
    <main class="pt-2 pb-10 px-8 flex-1">
      <div class="flex items-center justify-end py-4">
        <div>
          <ul class="flex items-center gap-x-4">
            {{#if user}}
              <li>
                <span>{{ user.email }}</span>
              </li>
              <li>
                <form action="/logout" method="post">
                  <button>Logout</button>
                </form>
              </li>
           {{else}}
            <li>
              <a href="/register">Sign Up</a>
            </li>
            <li>
              <a href="/login">Sign In</a>
            </li>
          {{/if}}
          </ul>
        </div>
      </div>
      {{{body}}}
    </main>

  </body>
</html>
