<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body class="bg-gray-100">
    {{{body}}}


    {{!-- <script>
      document.body.style.background = "deeppink"
    </script> --}}
  </body>
</html>
