@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: rgb(197, 228, 231);
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  min-height: 100vh;
  padding: 30px 20px;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

.calculator-container {
  border-radius: 22px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  margin-top: 60px;
  max-width: 760px;
  padding: 25px;
  width: 100%;
}

.calculator-container > div {
  width: 50%;
  /* flex: 1; */
}

.calculator {
  padding: 12px;
  padding-right: 35px;
}

.tip-result {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.tip-result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tip-result-row:first-child {
  margin-top: 20px;
}

.tip-result-row + .tip-result-row {
  margin-top: 40px;
}

.tip-result-row > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tip-result-label {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(189, 41%, 97%);
}

.tip-result-row > div:last-child {
  color: hsl(172, 67%, 45%);
  font-size: 2.5rem;
  font-weight: 700;
}

.tip-result-label + span {
  font-size: 0.7rem;
  color: hsl(184, 14%, 56%);
}

button {
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  color: hsl(189, 41%, 97%);
  cursor: pointer;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
}

button[type="reset"] {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: auto;
  width: 100%;
}

input,
button {
  font-family: "Space Mono", monospace;
  outline: none;
}
label,
input {
  display: block;
}

label {
  color: hsl(186, 14%, 43%);
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.85rem;
}

input {
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5px;
  caret-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  height: 45px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 15px;
  text-align: right;
  width: 100%;
}

input:focus {
  border: 1px solid hsl(172, 67%, 45%);
}
input::placeholder {
  color: #9ebbbd;
}

input.input-has-error {
  border: 1px solid red;
}

input.custom-tip {
  padding-right: 5px;
}

.input-error {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  top: -22px;
  right: 0;
  font-weight: 400;
}

button.custom {
  border: none;
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}

.active-button {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

button.inactive-reset-button {
  background-color: rgb(197, 228, 231);
  cursor: not-allowed;
  opacity: 0.15;
}

.form-group + .form-group {
  margin-top: 30px;
}

.input-group {
  position: relative;
}

.input-group .input-addon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.input-addon .currency {
  color: #9ebbbd;
  font-size: 1.1rem;
  font-weight: 700;
}

/* .tip-percent-buttons {
  display: flex;
  flex-wrap: wrap;
} */
.tip-percent-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 13px;
}

.tip-percent-buttons input {
  height: 40px;
}
/* .tip-percent-buttons button, .tip-percent-buttons input {
  flex-basis: calc(((100% + 12px) / 3) - 12px);
  margin-bottom: 12px;
}

.tip-percent-buttons button:not(:nth-child(3n)) {
  margin-right: 12px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .App {
    padding: 0;
    padding-top: 50px;
  }

  main {
    margin: 0;
    margin-top: auto;
  }

  .calculator-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-direction: column;
    margin-top: 30px;
    max-width: 375px;
    padding: 35px 30px;
  }

  .calculator-container > div {
    width: 100%;
  }

  .calculator {
    padding-left: 0;
    padding-right: 0;
  }
  .attribution {
    display: none;
  }

  .tip-percent-buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 15px;
  }

  .tip-percent-buttons button,
  .tip-percent-buttons input {
    height: 45px;
  }

  .tip-result {
    margin-top: 20px;
  }

  .tip-result-row + .tip-result-row {
    margin-top: 30px;
  }

  button[type="reset"] {
    margin-top: 20px;
  }

  .tip-result-row > div:last-child {
    font-size: 2rem;
  }
}
